/* Color Palette
  White: #ffffff;
  Black: #000000;
  Medium Gray: #999999;
  Light Gray: #dddddd;
  Light blue: #99ffff;
*/


/*********** Begin Layout Styles ***********/
body {
  background-color: #99ffff;
}

div.container {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; /* disable this line if you want full-width layouts */
}

header, main, footer {
  padding: 15px;
  margin: 15px;
}

/* phones (base layout is mobile-first) */
header {
  border: 3px solid #990000; /* disable this line once layout works */
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "name"
    "logo";
}

main {
  border: 3px solid #009900; /* disable this line once layout works */
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "carousel"
    "menu"
    "hours"
    "map";
}

footer {
  border: 3px solid #000099; /* disable this line once layout works */
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "contact"
    "social media"
    "credit";
}

/* tablets and small laptops */
@media (min-width: 600px) {

  header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name logo";
  }

  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "carousel carousel"
      "map hours"
      "menu hours"
  }

  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "social contact"
    "credits credits";
  }

  div#page-name{
    grid-column: span 2;
  }
}

/* desktops */
@media (min-width: 900px) {
  header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "logo name";
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "carousel carousel carousel"
      "menu hours map"
  }

  footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "contact social media contact";
  }
}

div {
  border: 1px solid #999999; /* disable this line once layout works */
  text-align: center; /* disable this line once layout works */
}

main div {
    min-height: 80px; /* disable this line once layout works */
}

div#section1 {
  grid-area: section1;
}

div#section2 {
  grid-area: section2;
}

div#section3 {
  grid-area: section3;
}

div#section4 {
  grid-area: section4;
}

div#section5 {
  grid-area: section5;
}

div#section6 {
  grid-area: section6;
}

div#section7 {
  grid-area: section7;
}

/*********** End Layout Styles ***********/


/*********** Begin Content Styles ***********/

/* Headings */
h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

/* Paragraphs and lists */

p {

}

ol {

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu p{
  color: #ffffff;
  text-align: center;
}

span.price{
  color: #990000;
  font-style: italic;
  float: right;
}

li {

}

/* tables */

table {

}

caption {

}

tr {

}

th {

}

td {

}

/* images */
img {

}

/* links */

a:link {

}

a:visited {

}

a:hover {

}

a:active {

}

/* forms */



/*********** End Content Styles ***********/
